.nav-tabs .nav-link {
    padding: 8px 25px; /* Aumenta o espaçamento interno dos botões */
}

.menu{
    justify-content: space-evenly;
    display: flex;
}

.card-header h5{
    justify-content: center;
    display: flex;
}

.card-footer .buttonPesquisar{
    word-wrap: normal;
    padding-right: 30px;    
}

.btn-active {
    background-color: #fff; /* Azul padrão do Bootstrap para links ativos */
    border-color: #fff; /* Cor da borda do botão ativo */
    color: #6c757d !important; /* Cor do texto do botão ativo (importante para substituir a cor padrão do Bootstrap) */
  }
  /* Estilo para o texto dentro do botão */
  .btn-active .text-primary {
    color: #6c757d !important; /* Cor do texto do botão ativo (importante para substituir a cor padrão do Bootstrap) */
  }

#tableFuncioanario i{   /* Cor dos icones de ações na tabela de funcionarios, e uma pequena margem entre eles */
margin: 0px 8px;
color: #0d6efd;
transition: 0.25s ease-in-out;  /* Efeito no momento que o hover é desativado */
}

#tableFuncioanario .iconeTrash:hover{  /*Mudança de cor do botão de excluir na tabela funcinario ao passar o mouse por cima*/
    color: red;
    transition:  0.25s ease-in-out;  /* Efeito no momento que o hover é ativado no icone de excluir */
}

#tableFuncioanario .iconeEdit:hover{  /* Mudança de cor do botão de editar na tabela funcinario ao passar o mouse por cima */
    color: black;
    transition:  0.25s ease-in-out;  /* Efeito no momento que o hover é ativado no icone de editar */
}

