body{
    margin: 0;
}


.bg{
    width: 100vw;
    height: 100vh;
    background: url(assets/bg.jpg);
    background-size: cover;
    position: fixed;
}

.navigator{
    position: relative;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.main{
    width: 100%;
}

.menu{
    width: 100%;
    display: flex;
    padding: 8vw;
    justify-content: space-between;
}

.menu-left{
    opacity: 90%;
}

.menu-right{
    opacity: 90%;
    
}


.card-body{
    border-radius: 30px;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-text{
    padding-left: 2px;
}